@mixin slide-vertical-with-fade($name, $y-1, $y-2, $opacity-1, $opacity-2) {
  @keyframes #{$name} {
    0% {
      transform: translateY($y-1);
      opacity: $opacity-1;
    }
    100% {
      transform: translateY($y-2);
      opacity: $opacity-2;
    }
  }
}

@mixin slide-horizontal($name, $x-1, $x-3) {
  @keyframes #{$name} {
    0% {
      transform: translateX($x-1);
    }
    100% {
      transform: translateX($x-3);
    }
  }
}
